/* Universal box-sizing for all elements to include padding and border in its total width and height */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Root variables */
:root {
  --bg-primary: black;
  --bg-secondary: white;
  --bg-alternate: silver;
  --txt-primary: white;
  --txt-secondary: black;
  --txt-alternate: silver;
  --container-bg: linear-gradient(to bottom right,rgba(0, 19, 255, 0.8) ,rgba(255, 19, 0, 0.8) );
  --container-bgr: linear-gradient(to top left, rgba(0, 19, 255, 0.8) ,rgba(255, 19, 0, 0.8) );
  --alternate-bg: linear-gradient(to bottom right,rgba(255, 19, 0, 0.8) ,rgba(0, 255, 0, 0.8) );
  --alternate-bgr: linear-gradient(to top left,rgba(255, 19, 0, 0.8) ,rgba(0, 255, 0, 0.8) );
  --alternate-two-bg: linear-gradient(to bottom right,rgba(157, 88, 33, 0.8) ,rgba(247, 233, 103, 0.8) );
  --alternate-two-bgr: linear-gradient(to top left,rgba(157, 88, 33, 0.8) ,rgba(247, 233, 103, 0.8) );
  /* Defining root variables for grid and mark sizes */
  --grid-size: 100px;
  --marker-size: calc(var(--grid-size) * 0.9);
}

/* Game 2 */

game2.html main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.grid {
    position: relative;
    cursor: pointer;
}

.board {
    width: 50vw;
    height: 35vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
  }

#game2 {
    display: flex;
    justify-content: center;
}

.game-two-container {
    position: relative;
    left: 300px;
    display: grid;
    width: 600px;
    grid-template-columns: repeat(10, 1fr);
}

.game-two-container div {
    width: 60px;
    height: 60px;
    border: none;
}

#snakes-and-ladders-board {
    position: relative;
    left: -300px;
    width: 615px;
    height: 615px;
}

#p1,
#p2 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: red;
    position: absolute;
    /* Changed from relative to absolute */
    border: 3px solid black;
}

#p1 {
    top: 0px;
    left: -62px;
    z-index: 2;
}

#p2 {
    top: 0px;
    /* Added this line to start p2 at the same vertical level as p1 */
    left: -50px;
    z-index: 2;
    background-color: blue;
}

#dice-container {
    display: grid;
    place-items: center;
    position: absolute;
    top: 200px;
    left: 120px;
    font-size: 2rem;
    z-index: 99;
}

#diceBtn {
    z-index: 99;
    /* padding: 5px; */
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    width: 200px;
}

#dice {
    color: yellow;
    font-weight: bold;
    font-size: 200%;
}

.winning-message-two {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message-two button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.winning-message-two button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message-two.show {
    display: flex;
}

.hidden {
    display: none;
}

#team-red {
    color: red;
    font-weight: bold;
}

#team-blue {
    color: blue;
    font-weight: bold;
}

#team-green {
    color: green;
    font-weight: bold;
}

#tog {
    font-weight: bold;
}