@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bg-primary: ;
  --bg-secondary: ;
  --bg-alternate: ;
  --txt-primary: ;
  --txt-secondary: ;
  --txt-alternate: ;
  --container-bg: linear-gradient(to bottom right, , );
  --container-bgr: linear-gradient(to top left, , );
  --alternate-bg: linear-gradient(to top left, , );
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.suggestion-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselDark {
  height: 800px;
  background-color: red !important;
}

.carousel-item {
  height: 800px;
  background-color: red !important;
}

footer {
  margin-top: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.grid-square {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.grid-square:first-child,
.grid-square:nth-child(2),
.grid-square:nth-child(3) {
  border-top: none;
}

.grid-square:nth-child(3n + 1) {
  border-left: none;
}

.grid-square:nth-child(3n + 3) {
  border-right: none;
}

.grid-square:last-child,
.grid-square:nth-child(8),
.grid-square:nth-child(7) {
  border-bottom: none;
}

.grid-square.x,
.grid-square.circle {
  cursor: not-allowed;
}

.grid-square.x::before,
.grid-square.x::after,
.grid-square.circle::before {
  background-color: black;
}

.board.x .grid-square:not(.x):not(.circle):hover::before,
.board.x .grid-square:not(.x):not(.circle):hover::after,
.board.circle .grid-square:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.grid-square.x::before,
.grid-square.x::after,
.board.x .grid-square:not(.x):not(.circle):hover::before,
.board.x .grid-square:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.grid-square.x::before,
.board.x .grid-square:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.grid-square.x::after,
.board.x .grid-square:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.grid-square.circle::before,
.grid-square.circle::after,
.board.circle .grid-square:not(.x):not(.circle):hover::before,
.board.circle .grid-square:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.grid-square.circle::before,
.board.circle .grid-square:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.grid-square.circle::after,
.board.circle .grid-square:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: white;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}

@media (max-width: 576px) {}

@media (max-width: 768px) {}

@media (max-width: 1200px) {}

@media (min-width: 1200px) {}