@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Universal box-sizing for all elements to include padding and border in its total width and height */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg-primary: ;
  --bg-secondary: ;
  --bg-alternate: ;
  --txt-primary: ;
  --txt-secondary: ;
  --txt-alternate: ;
  --container-bg: linear-gradient(to bottom right, , );
  --container-bgr: linear-gradient(to top left, , );
  --alternate-bg: linear-gradient(to top left, , );
  /* Defining root variables for cell and mark sizes */
  --cell-size: 100px;
  --marker-size: calc(var(--cell-size) * .9);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.suggestion-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselDark {
  height: 800px;
  background-color: red !important;
}

.carousel-item {
  height: 800px;
  background-color: red !important;
}

footer {
  margin-top: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling the game board */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

/* Styling individual grid cells */
.grid-square {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* Removing borders from specific sides of the cells to form the game grid */
.grid-square:first-child,
.grid-square:nth-child(2),
.grid-square:nth-child(3) {
  border-top: none;
}

.grid-square:nth-child(3n + 1) {
  border-left: none;
}

.grid-square:nth-child(3n + 3) {
  border-right: none;
}

.grid-square:last-child,
.grid-square:nth-child(8),
.grid-square:nth-child(7) {
  border-bottom: none;
}

/* Adding styles for X and O marks */
.grid-square.x,
.grid-square.circle {
  cursor: not-allowed;
}

.grid-square.x::before,
.grid-square.x::after,
.grid-square.circle::before {
  background-color: black;
}

/* Changing hover effect for X and O */
.board.x .grid-square:not(.x):not(.circle):hover::before,
.board.x .grid-square:not(.x):not(.circle):hover::after,
.board.circle .grid-square:not(.x):not(.circle):hover::before {
  background-color: grey;
}

/*Defining X mark styles*/
.grid-square.x::before,
.grid-square.x::after,
.board.x .grid-square:not(.x):not(.circle):hover::before,
.board.x .grid-square:not(.x):not(.circle):hover::after {
  content: '';
}

.grid-square.x::before,
.board.x .grid-square:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.grid-square.x::after,
.board.x .grid-square:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* Defining O mark styles */
.grid-square.cirle::before,
.grid-square.cirle::after,
.board.circle .grid-square:not(.x):not(.circle):hover::before,
.board.circle .grid-square:not(.x):not(.circle):hover::after {
  content: '';
}

.grid-square.circle::before,
.board.circle .grid-square:not(.x):not(.circle):hover::before {
  width: var(--marker-size);
  height: var(--marker-size);
}

.grid-square.circle::after,
.board.circle .grid-square:not(.x):not(.circle):hover::after {
  width: calc(var(--marker-size) * .7);
  height: calc(var(--marker-size) * .7);
  background-color: lightgray;
}

@media (max-width: 576px) {}

@media (max-width: 768px) {}

@media (max-width: 1200px) {}

@media (min-width: 1200px) {}