
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Ysabeau+SC:wght@1..1000&display=swap');

/* Universal box-sizing for all elements to include padding and border in its total width and height */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Root variables */
:root {
  --bg-primary: black;
  --bg-secondary: white;
  --bg-alternate: silver;
  --txt-primary: white;
  --txt-secondary: black;
  --txt-alternate: silver;
  --container-bg: linear-gradient(to bottom right,rgba(0, 19, 255, 0.8) ,rgba(255, 19, 0, 0.8) );
  --container-bgr: linear-gradient(to top left, rgba(0, 19, 255, 0.8) ,rgba(255, 19, 0, 0.8) );
  --alternate-bg: linear-gradient(to bottom right,rgba(255, 19, 0, 0.8) ,rgba(0, 255, 0, 0.8) );
  --alternate-bgr: linear-gradient(to top left,rgba(255, 19, 0, 0.8) ,rgba(0, 255, 0, 0.8) );
  --alternate-two-bg: linear-gradient(to bottom right,rgb(199, 182, 165) ,rgb(112, 47, 49) );
  --alternate-two-bgr: linear-gradient(to top left,rgb(199, 182, 165) ,rgb(112, 47, 49) );
  /* Defining root variables for grid and mark sizes */
  --grid-size: 100px;
  --marker-size: calc(var(--grid-size) * 0.9);
}

.btn-primary {
  border-color: var(--bg-secondary);
  color: var(--txt-secondary) !important;
  background: var(--bg-secondary) !important;
}

.btn-primary:hover {
  border-color: var(--bg-alternate);
  color: var(--txt-primary) !important;
  background: var(--bg-alternate) !important;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

#games-button {
  padding: 40px !important;
}

/* Universal Sytles */
body {
  min-height: 100vh;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--txt-primary);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  margin:auto;
}

.intro {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar {
  background: var(--bg-primary) !important;
}

.navbar-brand {
  color: var(--txt-primary) !important;
  font-size: 200%;
}

.nav-link {
  color: var(--txt-primary) !important;
  padding-left: 20px;
  padding-right: 20px;
}

h1, h2 {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index-main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.suggestion-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  background: var(--bg-primary);
}

#footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the items vertically */
  justify-content: center;
  /* Center the items horizontally */
  background: var(--bg-primary) !important;
}

#social-links {
  display: flex;
  justify-content: center;
  /* Center the icons horizontally */
  margin-bottom: 10px;
  /* Add some spacing at the bottom if needed */
  color: var(--txt-primary) !important;
}

#social-links a {
  margin: 0 5px;
  /* Adjust spacing between the icons */
  color: var(--txt-primary) !important;
}

.game-card {
  width: 1000px !important;
  height: 300px !important;
  padding: 20px;
}

.video-container {
  position: relative !important;
  width: 100% !important;
  height: 300px !important;
  overflow: hidden !important;
}

.video-container video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.card-body {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.50);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card {
  height: 300px !important;
}

.game-card {
  padding-bottom: 300px !important;
}

#game-one-card-header {
  background: var(--container-bg) !important;
}

#game-one-card-footer {
  background: var(--container-bgr) !important;
}

#game-two-card-header {
  background: var(--alternate-bg) !important;
}

#game-two-card-footer {
  background: var(--alternate-bgr) !important;
}

#game-three-card-header {
  background: var(--alternate-two-bgr) !important;
}

#game-three-card-footer {
  background: var(--alternate-two-bg) !important;
}

/* Rules section */
.rules {
  list-style-type: none;
  text-align: center;
}

@media (max-width: 576px) {
  .card-text {
    display: none;
  }
}

@media (max-width: 768px) {
    .card-text {
      display: none;
  }
}

/* @media (max-width: 1200px) {}

@media (min-width: 1200px) {} */